img{

  width:100%;
	border:2px solid black;
	border-radius: 5%;
  display: block;

}


.col-md-4:hover .cache{

	display:none;
}

.col-md-4:hover .montrer{

	display:block;
}

.montrer{
	display:none;
}
.cache{

	display:block;
}
